.freetest {
    margin-left: calc(20px + (75 - 20) * ((110vw - 360px) / (1440 - 360)));
    margin-right: calc(20px + (75 - 20) * ((110vw - 360px) / (1440 - 360)));
    position: relative;
    margin-top: calc(64px + (44 - 64) * ((110vw - 360px) / (1440 - 360)));
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 49px;
    padding-bottom: 49px;
    padding-right: 29px;
    padding-left: 250px;
    background: #EDF7FD;
    border-radius: 20px;
    @media screen and (max-width: 720px) {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 140px;
        padding-bottom: 20px;
    }
    &__button {
        @media screen and (max-width: 720px) {
            margin-top: 20px;
        }
    }
    &__text {
        margin: 0;
        max-width: 493px;
        font-weight: bold;
        font-size: calc(16px + (23 - 16) * ((110vw - 360px) / (1440 - 360)));
        line-height: calc(20px + (28 - 20) * ((110vw - 360px) / (1440 - 360)));      
        color: #1C1C25;
    }

    &__image {
        left: 59px;
        bottom: 17px;
        position: absolute;
        @media screen and (max-width: 720px) {
            left: 25px;
            top: -30px;
        }
    
    }
}