.heading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 27px;
    padding-left: 75px;
    padding-right: 75px;

    &__element {
        display: flex;
        position: absolute;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    }

    &__vedenie-zakazov {
        justify-content: center;
        align-items: center;
        max-width: 61px;
        top: 284px;
        left: 109px;

        &::before {
            content:url('../images/vedenie-zakazov.svg');
            margin-right: 19px;
        }
    }

    &__road-sklad {
        right: 136px;
        top: 370px;
    }

    &__sklad {
        top: 284px;
        right: 109px;
        margin-top: 4px;
        flex-direction: column;
        align-items: center;
        &::before {
            content:url('../images/sklad.svg');
        }
    }

    &__integration {
        top: 956px;
        left: 86px;
        color: #538DFF;
        flex-direction: column;
        align-items: center;
        &::before {
            content:url('../images/integration.svg');
        }
    }

    &__postavshiki {
        top: 730px;
        right: 73px;
        color: #538DFF;
        flex-direction: column;
        align-items: center;

        &-circle {
            right: 111px;
            top: 595px;
        }

        &::before {
            content:url('../images/postavshik.svg');
        }
    }

    &__magazin {
        top: 481px;
        left: 79px;
        margin-top: 4px;
        flex-direction: column;
        align-items: center;
        &::before {
            content:url('../images/magazin.svg');
        }

        &-circle {
            left: 111px;
            top: 364px;
        }
    }

    &__title {
        max-width: 1100px;
        margin: 0 auto;
        text-align: center;
        @extend .font__title;

        &_white {
            color: #fff;
        }
    }

    &__description {
        margin: 0 auto;
        margin-top: 20px;
        max-width: 785px;
        text-align: center;
        @extend .font__descrition;
        &_white {
            color: #fff;
        }
    }

    &__button {
        margin: 0 auto;
        margin-top: 30px;
    }
}



