.root {
    font-family: "Formular", sans-serif;
    border-color: #F8F8FA;
    font-style: normal;
}
$text-color-white: #FFF;
$text-color-blue: #538DFF;
$text-color-black: #000;
$button-color-yellow: #FFCF5C;
$color-title-black: #1C1C25;
.title__font {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px; 
}

@media screen and (max-width: 320px) {
    .title__font {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #1C1C25
    }
} 


$background-color-card: #FFFFFF; 
$background-color-card-description: #3E454D;
.font__card-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #84899B;
}

.font__card-price {
    font-weight: bold;
    font-size: 59px;
    line-height: 72px;
}

.font__card-price-description {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.font__card-description {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}






.font_normal {
    font-weight: normal;
}

.font_bold {
    font-weight: bold;
}

.font_700 {
    font-weight: 700;
}

.font_500 {
    font-weight: 500;
}


.font-400 {
    font-weight: 400;
}

$text-color-white: #FFF;
$text-color-black: #000;
$text-color-blue: #538DFF;
$text-color-link: #647CFF;

.font__title {
    margin: 0;
    @extend .font_bold;
    color: $text-color-black;
    font-size: calc(24px + (45 - 24) * ((110vw - 320px) / (1440 - 320)));
    line-height: calc(24px + (55 - 24) * ((110vw - 320px) / (1440 - 320)));
    
}

.font__descrition {
    margin: 0;
    @extend .font_normal;
    font-size: 16px;
    line-height: 20px;
}

.font__razdel {
    color: $text-color-blue;
    margin: 0;
    @extend .font_700;
    font-size: 26px;
    line-height: 32px;
}
