.root {
    font-family: "Formular", sans-serif;
}

.font_normal {
    font-style: normal;
    font-weight: normal;
}

.font_bold {
    font-style: normal;
    font-weight: bold;
}

.font_700 {
    font-style: normal;
    font-weight: 700;
}


.font-400 {
    font-style: normal;
    font-weight: 400;
}

$text-color-white: #FFF;
$text-color-black: #000;

.font__title {
    margin: 0;
    @extend .font_bold;
    color: $text-color-black;
    font-size: 45px;
    line-height: 55px;
}

.font__descrition {
    margin: 0;
    @extend .font_normal;
    font-size: 16px;
    line-height: 20px;
}