.interface {
    border: 11px solid #000000;
    box-sizing: border-box;
    box-shadow: 20px 26px 91px rgba(47, 53, 80, 0.23);
    border-radius: 25px;
    margin-top: 50px;
    max-width: 1075px;
    width: 100%;
    height: calc(168px + (572 - 168) * ((110vw - 320px) / (1440 - 320)));
}

@media screen and (max-width: 320px) {
    .interface {
        background: #FFFFFF;
        border: 3px solid #000000;
        box-sizing: border-box;
        box-shadow: 20px 26px 91px rgba(47, 53, 80, 0.23);
        border-radius: 12px;
        margin-top: 26px;
    }
} 