.interface {
    background: #FFFFFF;
    overflow: hidden;
    border: 11px solid #000000;
    box-sizing: border-box;
    box-shadow: 20px 26px 91px rgba(47, 53, 80, 0.23);
    border-radius: 25px;
    margin-top: 50px;
    max-width: 1075px;
    width: 100%;

    &__list {
        display: flex;
        flex-direction:column;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;

        &-item {
            display: flex;
            width: 100%;
            &-header {
                padding-top: 9px;
                padding-bottom: 10px;
                padding-left: 13px;
                padding-right: 13px;
                background: #F0F1F3;
            }

            &-recording {
                margin-top: 22px;
            }
            &-title {
                padding: 0;
                padding-left: 13px;
                margin-top: 6px;
                display: flex;
                list-style: none;

                &-text {
                    margin: 0;
                    padding: 0;
                    font-weight: 500;
                    font-size: 9px;
                    line-height: 169.8%;
                    color: #000000;
                    &-desc {
                        margin-top: 3px;
                        font-weight: normal;
                        font-size: 8px;
                        line-height: 169.8%;
                        opacity: 0.4;
                        &_black {
                            color: #000000;
                        }
                    }
                    &-col1 {
                        width: 55px;
                    }
                    
                    &-col2 {
                        width: 90px;
                    }
                    &-col3 {
                        width: 106px;
                        display: flex;
                        flex-direction: column;
                    }
                    &-col4 {
                        width: 92px;
                    }
                    &-col5 {
                        width: 117px;
                        display: flex;
                        flex-direction: column;
                    }
                    &-col6 {
                        width: 126px;
                        display: flex;
                        flex-direction: column;
                    }
                    &-col7 {
                        width: 131px;
                        display: flex;
                        flex-direction: column;
                    }
                    &-col8 {
                        width: 66px;
                    }
                    &-col9 {
                        width: 169px;
                        display: flex;
                        flex-direction: column;
                    }
                    &-col10 {
                        width: 76px;
                    }
                    &-recording {
                        font-weight: 500;
                        font-size: 8px;
                        line-height: 169.8%;
                        color: #000000;

                        &_blue {
                            color: #478DE2;
                        }
                    }
                }

            }


            &-button {
                padding-right: 14px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 101px;
                height: 40px;
                background: #0DD17E;
                border-radius: 6px;
                margin-right: 14px;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                color: #FFFFFF;

                &::before {
                    width: 24px;
                    height: 24px;
                    content: url('../images/plus.svg');
                    margin-right: 8px;
                }
            }

            &-element {
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0.4;
                background: #FBFCFE;
                border: 1px solid #E8E9ED;
                box-sizing: border-box;
                border-radius: 6px;
                margin-right: 14px;
                font-weight: normal;
                font-size: 12px;
                padding-left: 12px;
                padding-right: 12px;
                color: #2A4266;
            }

            &-search {
                width: 224px;
                height: 40px;
                justify-content: space-between;

                &::after {
                    content: url('../images/fi_search.svg');
                }
            }

            &-work {
                width: 79px;
                height: 40px;
            }

            &-get {
                width: 89px;
                height: 40px;   
            }

            &-ok {
                opacity: 1;
                width: 40px;
                height: 40px;
                
                &::after {
                    content: url('../images/ok.svg');
                    background-color: #00B86A;
                    padding: 3px;
                    border-radius: 4px;
                }
            }
            &-new {
                opacity: 1;
                width: 40px;
                height: 40px;

                &::after {
                    content: url('../images/new.svg');
                }
            
            }

            &-clear {
                width: 70px;
            }

            &-filter {
                position: relative;
                right: 0;
                margin-right: 31px;
                display: flex;
                align-items: center;
                justify-content: center;
                &::after {
                    content: url('../images/fi_filter.svg');
                }
            }

            &-setting {
                width: 40px;
                height: 40px;

                &::after {
                    content: url('../images/fi_more-vertical.svg');
                }

            }

            &-slider {
                width: 35px;
                height: 40px;
                &::after {
                    content: url('../images/fi_sliders.svg');
                }
            }    
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        padding-left: 6px;
        padding-right: 6px;
        height: 15px;        
        border-radius: 4px;
        font-weight: 500;
        font-size: 7px;
        line-height: 169.8%;     
        color: #FFFFFF;

        &::after {
            content: url('../images/fi_chevron-down-white.svg');
            margin-top: 3px;
            margin-left: 3px;
        }

        &_blue {
            background: #027FFF;
        }

        &_light-blue {
            background: #55C6FB;
        }

        &_orange {
            background: #FE8001;
            &::after {
                content: '';
            }
        }
        &_grey {
            background: #B0B0B0;
        }

        &_day-green {
            margin-left: 6px;
            font-weight: 500;
            font-size: 6px;
            line-height: 169.8%;
            text-align: center;
            color: #2BAC72;
        }
    }
}