.clients {
    margin-top: calc(20px + (70 - 20) * ((110vw - 360px) / (1440 - 360)));
    margin-left: calc(20px + (75 - 20) * ((110vw - 360px) / (1440 - 360)));
    margin-right: calc(20px + (75 - 20) * ((110vw - 360px) / (1440 - 360)));

    &__sections {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-top: 40px;
        @media screen and (max-width: 650px) {
            flex-direction: column;
        }
        &-organization {
            @media screen and (max-width: 650px) {
                margin-top: 30px;
            }
        }
        &-counter {

            &-items {
                list-style: none;
                display: flex;
                margin: 0;
                padding: 0;
                margin-top: 19px;
                margin-bottom: 19px;

                &-number {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 55px;
                    height: 74px;
                    background: #FFFFFF;
                    border-radius: 10px;
                    font-weight: bold;
                    font-size: 32px;
                    line-height: 39px;
                    color: #538DFF;
                    margin-right: 7px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            &-text {
                margin: 0;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                color: #FFFFFF;

                &_fs16 {
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            
        }        
    }
    &__title-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__sections-counter {
        padding: 30px;
        background: linear-gradient(97.54deg, #538DFF 0%, #865BFF 100%);
        border-radius: 20px;
        width: min-content;
    }
    &__sections-organization {
        overflow: hidden;
        padding: 0;
        margin: 0;
        max-width: 850px;
        width: 100%;
        display: flex;

        &-block {
            max-width: 132px;
            width: 100%;
        }
    }
}

.clients__sections-organization-counter {
    position: relative;
}

.clients__sections-organization-counter .slick-arrow {
    opacity: 0;
    display: none;
    position: absolute;
    top: 20%;
    z-index: 10;
    font-size: 0;
}
.clients__sections-organization-counter .slick-arrow.slick-prev {
    left: 0;
}
.clients__sections-organization-counter .slick-arrow.slick-next {
    right: 0;
}
.clients__sections-organization-counter .slick-track {
    gap:calc(28px + (88 - 28) * ((110vw - 800px) / (1440 - 800)));
}




@media screen and (max-width: 360px) {
    .clients__sections-organization .integration__list-item:nth-child(4n) {
        display: none;
    }
    .clients__sections-organization .integration__list-item:nth-child(12) {
        display: block;
    }
}

@media screen and (max-width: 650px) {
    .clients__title-block .navigation-arrow {
        display: none;
    }
}